root_dirs:
  - src/util
  - src/util.data_handler
agent: folder_specific_agent
prompt: >
  target_directory=${root_dir}
  ### ${root_dir}配下のレビューを行なってください。
  - ${root_dir}/.github/review_guideline.mdを読んで、レビューの方針を理解してください。
  - 冗長にならないようにして、10点満点の点数＋優先度の高い改善点に絞った上で、${root_dir}/.github/reviewフォルダの配下に、cli_review.mdとしてレビュー結果をまとめてください。（すでに存在する場合は、一旦ファイルを削除してから新規作成してください）1
  - 日本語で記述してください。