// おすすめのVSCODE拡張機能
{
    "recommendations": [
        "charliermarsh.ruff",
        "ms-python.vscode-python-envs",
        "ms-python.debugpy",
        "ms-python.python",
        "ms-python.vscode-pylance",
        "github.copilot-chat",
        "mechatroner.rainbow-csv",
        "tamasfe.even-better-toml"
    ]
}