{
  "servers": {
    "tavily-remote-mcp": {
      "type": "stdio",
      "command": "npx",
      "args": [
        "-y",
        "mcp-remote",
        "https://mcp.tavily.com/mcp/?tavilyApiKey=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"
      ]
    },
    "github-remote-mcp": {
      "url": "https://api.githubcopilot.com/mcp/",
      "type": "http"
    },
    "test": {
      "type": "stdio",
      "command": "uv",
      "args": [
        "run",
        "${workspaceFolder}/src/llm/mcp_custom/experiments/simple_server.py"
      ]
    }
  },
  "inputs": []
}
